@import '~@pxblue/themes/angular/theme.scss';

// $custom-typography: mat-typography-config($font-family: 'OpenSans, Arial, Helvetica, sans-serif;');
// @include mat-core($custom-typography);

body { 
  margin: 0;
}

* {
  //caution this will block text fields in safari
  user-select: none;
}

.vert-btn.mat-icon-button.cdk-program-focused .mat-button-focus-overlay{
  opacity: 0;
}

.list-items{
  text-align: center;
}
.mat-nav-list .list-items a{
  display: inline-block;
  vertical-align: middle;
  width: auto;
  min-width: 24%;
}

.mat-nav-list .footer-list .mat-list-item .mat-list-item-content{
  display: block;
  padding: 5px 15px;
}

.mat-nav-list .footer-list .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text{
  padding: 5px 0 0;
}
.mat-nav-list .footer-list .mat-list-item.mat-list-item-with-avatar {
  height: auto;
}
.footer-list{
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.footer-list .active{ 
  color: #007bc1;
}
.footer-list .active mat-icon{
  color: inherit;
}


.footer-list h3{
  margin: 0 0 10px;
}

.mat-bottom-sheet-container{
  padding: 0 !important;
}
